fastapi
uvicorn
sqlalchemy
pdfplumber
pandas
pdf2image
pytesseract
requests
python-jose
python-multipart
pycryptodome
python-dotenv
pwdlib[argon2]
alembic
pytest
email-validator
httpx
pwdlib[argon2]
alembic
pytest

